
@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.add-todo-input
  padding rem-calc(15) rem-calc(25)
  border rem-calc(1) solid lighten(color-main-dark, .5)
  width 100%
  margin-bottom rem-calc(25)
  font-size rem-calc(18)
  box-shadow 0 0 rem-calc(8) 0 rgba(color-main-dark, .1)
  outline none

.todo-wrapper
  center(600px)
  padding rem-calc(50) rem-calc(15)

.logout
  position absolute
  top 0
  right 0
  padding rem-calc(10)
.logout-button
  padding rem-calc(5) rem-calc(15)
  background-color color-main-contrast
  color color-main-light
  border none
  margin-left rem-calc(10)