@import '../../styles/normalize'

@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.section
    background url('./bg.png')
.container
    center(1000px)
