@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.login-form
  padding-top rem-calc(100)
  padding-bottom rem-calc(100)
  text-align center
.input
  margin-bottom rem-calc(5)
  padding rem-calc(15) rem-calc(25)
  border rem-calc(1) solid lighten(color-main-dark, .5)
  font-size rem-calc(18)
  box-shadow 0 0 rem-calc(8) 0 rgba(color-main-dark, .1)
  outline none
.submit-button
  margin-top rem-calc(5)
  margin-bottom rem-calc(5)
  padding rem-calc(15) rem-calc(25)
  background-color color-main-contrast
  color color-main-light
  border none